.profile-header{    
    margin: 0 auto;
}

.h-avatar {
    position: relative;
    display: inline-block;
    vertical-align: bottom;

    img {
        display: block;
        border-radius: 50%;
    }

    .avatar{
        width: 100px;
        height: 100px;
        min-width:  100px;
        object-fit: cover;
    }

    .badge{
        position: absolute;
        bottom: 0;
        right: 0;
        border: 1px solid $smoke-white;
        border-width: 3px;
        height: 34px;
        width: 34px;
    }
}

