/*! _fonts.scss | Nephos | CSS Ninja */

/* ==========================================================================
Nephos fonts
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. Font variables
=============================================================================
***/

/* ==========================================================================
0. Font variables
========================================================================== */

$Monserrat: 'Montserrat', sans-serif;
$Alegreya: 'Alegreya Sans SC', sans-serif;
$Raleway: 'Raleway', sans-serif;